# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Flask
instance/
*.log

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

